Repository hybridauth/hybridauth, pull requests merged in 2019-01, with the labels that each got.

#1030 Remove Google Plus support in v2
  hybridauth/Hybrid/Providers/Google.php
Labels: tag: breaking change 💥, tag: provider :house:

#1033 Added Amazon provider
  src/Provider/Amazon.php
Labels: tag: new feature :rocket:, tag: provider :house:

#1031 setApiEndpoints() must be an instance of Hybridauth\Data\Collection
  docs/developer-ref-user-authentication.md
  src/Adapter/AbstractAdapter.php
Labels: tag: bug fix :sunglasses:
