Repository hybridauth/hybridauth, pull requests merged in 2019-12, with the labels that each got.

#1128 [Twitter] Make photo size configurable + https
  hybridauth/Hybrid/Providers/Twitter.php
Labels: tag: bug fix :sunglasses:, tag: provider :house:

#1129 [Twitter] Make photo size configurable + https
  src/Provider/Twitter.php
Labels: tag: bug fix :sunglasses:, tag: provider :house:

#1054 Add ORCID provider
  src/Data/Parser.php
  src/Provider/ORCID.php
Labels: tag: new feature :rocket:, tag: provider :house:

#1133 Add missing bracket
  src/HttpClient/Guzzle.php
Labels: tag: bug fix :sunglasses:
