Repository hybridauth/hybridauth, pull requests merged in 2020-03, with the labels that each got.

#1145 Fix phpunit tests
  .travis.yml
  composer.json
  src/Exception/Exception.php
  src/HttpClient/Curl.php
  src/HttpClient/Guzzle.php
  src/HttpClient/Util.php
  src/Provider/BitBucket.php
  src/Provider/Discord.php
  src/Provider/Facebook.php
  src/Provider/Foursquare.php
  src/Provider/GitHub.php
  src/Provider/Google.php
  src/Provider/LinkedIn.php
  src/Provider/Mailru.php
  src/Provider/Odnoklassniki.php
  src/Provider/OpenID.php
  src/Provider/QQ.php
  src/Provider/Spotify.php
  src/Provider/Steam.php
  src/Provider/Telegram.php
  src/Provider/Vkontakte.php
  src/Provider/WeChat.php
  src/Provider/WeChatChina.php
  src/Provider/Yandex.php
  src/Storage/Session.php
  src/Thirdparty/OpenID/LightOpenID.php
  src/User/Activity.php
  tests/Data/CollectionTest.php
  tests/Data/ParserTest.php
  tests/Data/empty
  tests/HybridauthTest.php
  tests/Storage/SessionTest.php
  tests/User/ActivityTest.php
  tests/User/ContactTest.php
  tests/User/ProfileTest.php
  tests/User/empty
Labels: tag: enhancement :100:

#1143 configure() should be after setStorage()
  src/Adapter/AbstractAdapter.php
Labels: tag: bug fix :sunglasses:

#1130 Add Slack provider
  src/Data/Collection.php
  src/Provider/Slack.php
  src/Provider/TwitchTV.php
Labels: tag: new feature :rocket:, tag: provider :house:

#1028 Create Strava.php
  src/Provider/Strava.php
Labels: tag: provider :house:

#1146 Fix refreshAccessToken for Discord provider
  src/Provider/Discord.php
Labels: tag: bug fix :sunglasses:

#1149 Added provider for Instagram via Facebook Graph API
  src/Provider/Instagram.php
Labels: tag: breaking change 💥, tag: new feature :rocket:, tag: provider :house:

#1150 [VK] Improve api request + add education field
  src/Provider/Vkontakte.php
Labels: tag: enhancement :100:, tag: provider :house:

#1157 add Patreon provider adapter
  src/Provider/Patreon.php
Labels: tag: new feature :rocket:, tag: provider :house:

#1158 Fix attributes getter in Patreon provider
  src/Provider/Patreon.php
Labels: tag: bug fix :sunglasses:
