Repository hybridauth/hybridauth, pull requests merged in 2020-09, with the labels that each got.

#1211 Reimplemented Dropbox for Hybridauth v3, using Dropbox v2 API this time
  src/Provider/Dropbox.php
Labels: tag: new feature :rocket:, tag: provider :house:

#1207 Support photoURL as Reddit avatar
  src/Provider/Reddit.php
Labels: tag: enhancement :100:, tag: provider :house:

#1205 BitBucket: Link to OAuth2 config URL, support profile URL, fix typo
  src/Provider/BitBucket.php
Labels: tag: enhancement :100:, tag: provider :house:

#1208 Document where the config settings on Vkontakte come from
  src/Provider/Vkontakte.php
Labels: tag: enhancement :100:, tag: provider :house:

#1209 Improve MicrosoftGraph provider
  src/Provider/MicrosoftGraph.php
Labels: tag: enhancement :100:, tag: provider :house:

#1224 AuthorizationDeniedException should be used for OAuth2
  src/Adapter/OAuth2.php
Labels: tag: enhancement :100:

#1223 Fix incorrect exceptions being thrown by a couple of providers
  src/Provider/Authentiq.php
  src/Provider/Yahoo.php
Labels: tag: enhancement :100:

#1222 Some basic guidance on how to make Telegram provider work
  src/Provider/Telegram.php
Labels: tag: enhancement :100:, tag: provider :house:

#1225 Fix various bad error messages and inconsistencies in exceptions
  src/Adapter/OAuth1.php
  src/Adapter/OAuth2.php
Labels: tag: bug fix :sunglasses:, tag: enhancement :100:

#1204 Show which URLs are failing when an endpoint returns an error
  src/Adapter/OAuth1.php
  src/Adapter/OAuth2.php
Labels: tag: enhancement :100:

#1203 StackExchange fix and clarification
  src/Provider/StackExchange.php
Labels: tag: bug fix :sunglasses:, tag: enhancement :100:

#1217 Implemented Facebook token exchange mechanism
  src/Provider/Facebook.php
Labels: tag: enhancement :100:, tag: provider :house:

#1215 Pass locale to Facebook API
  src/Provider/Facebook.php
Labels: tag: enhancement :100:, tag: provider :house:

#1213 Fix code inconsistencies across providers
  src/Provider/AOLOpenID.php
  src/Provider/Amazon.php
  src/Provider/Apple.php
  src/Provider/Authentiq.php
  src/Provider/BitBucket.php
  src/Provider/Blizzard.php
  src/Provider/DeviantArt.php
  src/Provider/Discord.php
  src/Provider/Dropbox.php
  src/Provider/GitHub.php
  src/Provider/GitLab.php
  src/Provider/Google.php
  src/Provider/LinkedIn.php
  src/Provider/Mailru.php
  src/Provider/MicrosoftGraph.php
  src/Provider/Odnoklassniki.php
  src/Provider/Patreon.php
  src/Provider/Paypal.php
  src/Provider/PaypalOpenID.php
  src/Provider/QQ.php
  src/Provider/Slack.php
  src/Provider/Spotify.php
  src/Provider/StackExchange.php
  src/Provider/StackExchangeOpenID.php
  src/Provider/Steam.php
  src/Provider/Strava.php
  src/Provider/Telegram.php
  src/Provider/Twitter.php
  src/Provider/Vkontakte.php
  src/Provider/WeChat.php
  src/Provider/WeChatChina.php
  src/Provider/WindowsLive.php
  src/Provider/YahooOpenID.php
  src/Provider/Yandex.php
Labels: tag: enhancement :100:

#1234 Need to support nonces for domains that have CSP enabled
  src/Provider/Telegram.php
Labels: tag: new feature :rocket:, tag: provider :house:

#1235 Fix example07 for closing popup via js
  examples/example_07/callback.php
  examples/example_07/index.php
Labels: tag: bug fix :sunglasses:

#1233 Support Telegram profile URLs
  src/Provider/Telegram.php
Labels: tag: new feature :rocket:, tag: provider :house:

#1237 Yahoo dropped OpenID support
  src/Provider/YahooOpenID.php
Labels: tag: provider :house:

#1239 Fix OAuth1 flow bug
  src/Adapter/OAuth1.php
Labels: tag: bug fix :sunglasses:, tag: enhancement :100:

#1236 Fix code went missing during merge / missed code from Vkontakte
  src/Adapter/OAuth2.php
  src/Provider/Vkontakte.php
Labels: tag: bug fix :sunglasses:, tag: provider :house:

#1240 Fix WeChat, as per @champsupertramp suggestions
  src/Provider/WeChat.php
Labels: tag: bug fix :sunglasses:

#1245 Fix PSR-2 issues in comments
  examples/example_02.php
  examples/example_03.php
  examples/example_04.php
  examples/example_05.php
  src/HttpClient/Guzzle.php
  src/Provider/Apple.php
  src/Provider/Facebook.php
  src/Provider/Google.php
  src/Provider/MicrosoftGraph.php
  src/Provider/OpenID.php
  src/Provider/StackExchange.php
  src/Provider/Steam.php
  src/Provider/Telegram.php
  src/Provider/Twitter.php
  src/Provider/Vkontakte.php
Labels: tag: enhancement :100:

#1238 Fix session storage, due to bug in OpenID
  src/Storage/Session.php
Labels: tag: bug fix :sunglasses:
