Repository hybridauth/hybridauth, pull requests merged in 2021-03, with the labels that each got.

#1287 Adding "prompt" as Google options
  hybridauth/Hybrid/Providers/Google.php
Labels: tag: enhancement :100:, tag: provider :house:

#1294 Fix error handling for token signature
  src/Provider/Apple.php
Labels: tag: bug fix :sunglasses:, tag: provider :house:

#1286 Update Yandex.php
  src/Provider/Yandex.php
Labels: tag: bug fix :sunglasses:, tag: v3

#1295 Fix issue with tokenRefreshParameters in WeChat
  src/Provider/WeChat.php
Labels: tag: bug fix :sunglasses:, tag: provider :house:
