Repository hybridauth/hybridauth, pull requests merged in 2024-11, with the labels that each got.

#1410 Add support for keycloak organization claim
  src/Provider/Keycloak.php
  tests/Provider/KeycloakTest.php
Labels: tag: provider :house:, tag: enhancement :100:

#1415 Refresh token fixes
  src/Provider/GitHub.php
  src/Provider/Google.php
  src/Provider/MicrosoftGraph.php
Labels: tag: enhancement :100:

#1406 Fix QQ can't parse to get openid
  src/Provider/QQ.php
Labels: tag: provider :house:, tag: bug fix :sunglasses:

#1399 Unknow provider error
  src/Hybridauth.php
Labels: tag: enhancement :100:, tag: bug fix :sunglasses:
